h1{
    text-align: center;
}

table{
      border : 2px solid white;
   }

h1{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#term{
    justify-content: center;
    display:block;
    width:98%;
    text-align: center;
    font-size: 25px;
    margin: 10px 0px 10px 10px;
}

p{
      text-align: center;
    font-size: 25px;
 }

img {
    border-radius: 50%;
     }

.firstname{
   width:25%;
  /* border : 2px solid black;*/
}

.lastname{
    width:25%;
  }

 .email{
    width:33%;
  }

 .title{
    width:33%;
  }